@model EntityLayer.Concrate.Personal

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Personel Kayıt Sayfası</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/RegisterTemp/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/RegisterTemp/css/style.css">
</head>
<body>

    <div class="main">
        <div class="container">
            <div class="signup-content">
                <div class="signup-img">
					<img src="~/registertemp/images/logo.png" />
                </div>
							  <!-- KAYIT FORMU -->
                <div class="signup-form">
					@using (Html.BeginForm("PersonalReg", "Account", FormMethod.Post, new { @class = "register-form", id = "register-form", enctype = "multipart/form-data" }))
					{
						<h2> Personel Kayıt Formu</h2>
						
							<div class="form-group">
							@Html.TextBoxFor(x => x.AdSoyad, new { placeholder = "Ad Soyad",type="text", name="adsoyad" })
							@Html.ValidationMessageFor(x => x.AdSoyad )
							</div>

							<div class="form-group">
							@Html.TextBoxFor(x => x.TCNO, new { placeholder = "TC Kimlik No",type="text", name="tcno" })
							@Html.ValidationMessageFor(x => x.TCNO )
							</div>

							<div class="form-group">
							@Html.TextBoxFor(x => x.Mail, new { placeholder = "E-Mail",type="email", name="mail" })
							@Html.ValidationMessageFor(x => x.Mail )
							</div>

							<div class="form-group">
							@Html.TextBoxFor(x => x.Password, new { placeholder = "Şifre" ,type="password", name="sifre" })
							@Html.ValidationMessageFor(x => x.Password )
							</div>

							<div class="form-group">
							@Html.TextBoxFor(x => x.RePassword, new { placeholder = "Şifre Tekrar" ,type="password", name="sifretekrar" })
							@Html.ValidationMessageFor(x => x.RePassword )
							</div>

							<div class="form-radio">
							<label for="gender" class="radio-label">Cinsiyet Seçiniz :</label>
							<div class="form-radio-item">
								@Html.RadioButtonFor(x =>x.Cinsiyet, true , new { id = "male" })
								@Html.ValidationMessageFor(x => x.Cinsiyet )
								<label for="male">Erkek</label>
								<span class="check"></span>
							</div>
							<div class="form-radio-item">
								@Html.RadioButtonFor(x =>x.Cinsiyet, false, new { id = "female" })
								@Html.ValidationMessageFor(x => x.Cinsiyet )
								<label for="female">Kadın</label>
								<span class="check"></span>
							</div>
							</div>

							<div class="form-group">
							<input type="file" name="Image" class="form-control" />
							@Html.ValidationMessageFor(x => x.Image)
							</div>
					
							<div class="form-group">
							@Html.TextBoxFor(x => x.PersonalNo, new { placeholder = "Personel No" ,type="text", name="ogrencino" })
							@Html.ValidationMessageFor(x => x.PersonalNo )
							</div>

							<div class="form-group">
							<label for="unvan">Ünvan :</label>
							<div class="form-select">
								<select name="unvan" id="unvan">
									<option value=null>Ünvan Seçiniz</option>
									<option value="Prof.Dr">Prof.Dr.</option>
									<option value="Doç.Dr.">Doç.Dr.</option>
									<option value="Dr.Öğr.Üyesi">Dr.Öğr.Üyesi</option>
									<option value="Öğretim Görevlisi">Öğretim Görevlisi</option>
									<option value="Araştırma Görevlisi">Araştırma Görevlisi</option>
								</select>
								<span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
								@Html.ValidationMessageFor(x => x.Unvan )
							</div>
							</div>

							<div class="form-submit">
							<input type="reset" value="Temizle" class="submit" name="reset" id="reset" />
							<input type="submit" value="Kaydet" class="submit" name="submit" id="submit" />
							</div>
							
					}
                </div>
            </div>
        </div>
    </div>

    <!-- JS -->
    <script src="~/RegisterTemp/vendor/jquery/jquery.min.js"></script>
    <script src="~/RegisterTemp/js/main.js"></script>
</body>
</html>